<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roaster</title>
</head>
<body>
    <h1>Indianapolis colts roster</h1>
    <p>
        Quarterbacks (2)
Jacob Eason
Sam Ehlinger*

Running Backs (4)
Jonathan Taylor
Marlon Mack
Nyheim Hines
Jordan Wilkins
The gang’s all back. This remains a strength of the team and one of the deepest units in the NFL.

Wide Receivers (6)
T.Y. Hilton
Michael Pittman Jr.
Parris Campbell
Mike Strachan*
Dezmon Patmon
Ashton Dulin
There probably is a tradeoff looming. Hilton goes on IR and Pascal returns to the active roster from the COVID-19 list. The time is now for Pittman to take that big step from year 1 to year 2, and for Campbell to stay on the field and fulfill the expectations that followed him into the NFL as the 59th overall pick in the 2019 draft.

Tight Ends (3)
Jack Doyle
Mo Alie-Cox
Kylen Granson*
This might be a position that’s addressed in the next few days. Reich makes liberal use of his tight ends, and adding a fourth shouldn’t be ruled out.

Offensive Line (8)
G – Quenton Nelson
T – Braden Smith
G – Mark Glowinski
T – Julién Davenport
G – Chris Reed
C/G – Danny Pinter
T – Matt Pryor
T/G – Will Fries*
Again, change is coming. Kelly probably returns to the active roster later this week from the COVID-19 category, and within the next month Fisher is expected to complete his rehab from the torn Achilles.

DEFENSE (27)
Line (11)
DT – DeForest Buckner
DT – Grover Stewart
DE – Kwity Paye*
DE – Tyquan Lewis
DE – Al-Quadin Muhammad
DE – Kemoko Turay
DE – Ben Banogu
DT Chris Williams
DE Isaac Rochell
DT Taylor Stallworth
DT Antwaun Woods
Coordinator Matt Eberflus loves to rotate his d-line to keep everyone fresh, but 11 is a big number even by his standards. This might be an area that offers a roster spot if one is needed to address another position.

Linebacker (6)
Darius Leonard
Bobby Okereke
Zaire Franklin
Matthew Adams
Jordan Glasgow
E.J. Speed
As was the case at running back, this is a familiar group. All had seats in the room last season.

Cornerback (6)
Xavier Rhodes
Kenny Moore II
T.J. Carrie
Rock Ya-Sin
Marvell Tell III
Isaiah Rodgers
Carrie’s uncertain status with a shoulder injury bears monitoring. Also, from what we saw during training camp, Rodgers might be ready to be more than a kick return specialist.

Safety (4)
Khari Willis
Julian Blackmon
George Odum
Andre Chachere
Willis and Blackmon form a dynamic starting unit. Odum remains one of the NFL’s best special teams contributors, and Chachere impresses the coaching staff with his corner/safety versatility.

SPECIAL TEAMS (3)
Kicker: Rodrigo Blankenship
Punter: Rigoberto Sanchez
Longsnapper: Luke Rhodes
    </p>
</body>
</html> 