<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colts Superbowls</title>
</head>
<body>
    <h1>Superbowls</h1>
<p>The Colts have won two Super Bowl championships (Super Bowl V and Super Bowl XLI). They also played in and lost Super Bowl III and Super Bowl XLIV. Before the AFL and NFL merged in 1970, they won three NFL Championships (1958, 1959, and 1968).</p>

</body>
</html>